@model Senai.Chamados.Web.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Styles {
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet" />
}

@using (Html.BeginForm("Login", "Conta", FormMethod.Post, new { @class = "form-signin" }))
{
    <div lass="text-center">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    </div>

    <p>@ViewBag.Error</p>


    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.LabelFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-label-group">
        @Html.PasswordFor(x => x.Senha, new { @class = "form-control" })
        @Html.LabelFor(x => x.Senha)
        @Html.ValidationMessageFor(x => x.Senha)
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>


    <h2>Login</h2>

}